<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Liz Milroys Website</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            th, td {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        </style>
    </head>

    <body>
        <div class="main-header">
            <header>
                <h1>Liz's Website</h1>
                <p>Created for SIT120 Weekly Practicals</p>

                <div class="main-navigation">
                    <nav>
                        <ul class="nav-list">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="canvas.html">Canvas</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>

        <div class="main-content">
            <div class="first-section">
                <h2>Introduction</h2>
                <p>This table outlines the units I am taking in my second trimester of study at Deakin University.</p>

                <table style="border: 1px solid black; border-collapse: collapse;"> 
                    <tr>
                        <th>Unit Code</th>
                        <th>Unit Name</th>
                    </tr>
                    <tr>
                        <td>MIS201</td>
                        <td>Business Requirements Analysis</td>
                    </tr>
                    <tr>
                        <td>SIT102</td>
                        <td>Introduction to Programming</td>
                    </tr>
                    <tr>
                        <td>SIT103</td>
                        <td>Data and Information Management</td>
                    </tr>
                    <tr>
                        <td>SIT120</td>
                        <td>Introduction to Responsive Web Apps</td>
                    </tr>
                </table>

                <h2 id="apps">Vue Applications</h2>
                <div class="applications">
                    <div id="app-1">
                        <h3>Vue Checklist</h3>
                        <p>Are you having fun?</p>
                            <div 
                            v-for="todo in todos" :key="todo.title" :style="{ textDecoration: todo.checked? 'line-through':'none' }">
                            <input type="checkbox" v-model="todo.checked" />
                            {{ todo.title }}
                            </div>
                    </div>
                    
                    <div id="app-2">
                        <h3>Hello World</h3>
                        {{ message }}
                    </div>

                    <div id="app-3">
                        <h3>Hover</h3>
                        <span v-bind:title="message">
                            Hover your mouse for a few seconds!
                        </span>
                    </div>

                    <div id="app-4">
                        <h3>v-if & v-else</h3>
                        <button @click="seen = !seen">Click to Toggle</button>
                        <span v-if="seen">Now you see me.</span>
                        <span v-else>Now you don't.</span>
                    </div>

                    <div id="app-5">
                        <h3>v-show</h3>
                        <button @click="seen = !seen">Click to Toggle</button>
                        <span v-show="!seen">This is hidden.</span>
                        <span v-show="seen">This is shown.</span>
                    </div>

                    <div id="app-6">
                        <h3>v-for</h3>
                        <ol>
                            <li v-for="item in sith">
                                {{ item.text }}
                            </li>
                        </ol>
                    </div>

                    <div id="app-7">
                        <h3>v-model</h3>
                        <span>Enter your Username:</span>
                        <input type="text" v-model="user" />
                        <p>Username: {{ user }}</p>
                        <p></p>
                        <span>Enter your Password:</span>
                        <input type="password" v-model="pass" />
                        <p>Password: {{ pass }}</p>
                    </div>

                    <div id="app-8">
                        <h3>Checklist</h3>
                            <div>
                                <input type="checkbox" id="green" value="Green" v-model="checked">
                                <label for="green">Green</label>
                            </div>
                            <div>
                                <input type="checkbox" id="blue" value="Blue" v-model="checked">
                                <label for="blue">Blue</label>
                            </div>
                            <div>
                                <input type="checkbox" id="red" value="Red" v-model="checked">
                                <label for="red">Red</label>
                            </div>
                        <p>Checked: {{ checked }}<p>
                    </div>

                    <div id="app-9">
                        <h3>Conditional Rendering (v-for)</h3>
                        <select v-model="selected">
                            <option value="" disabled>Select one of the following</option>
                            <option v-for="option in options" v-bind:value="option.value"> {{ option.text }}</option>
                        </select>
                        <p>Selected: {{ selected }}</p>
                    </div>
                </div>
            </div>

            <div class="second-section">
                <div class="second-section-content">
                    <h2>About Me</h2>
                    <p>I have a <a href="https://github.com/lizmilroy">GitHub</a> account, and I have a 
                        profile on <a href="https://www.linkedin.com/in/elizabeth-milroy/">LinkedIn</a>.</p>
                    <p>This is a photo of my cat Jager.</p>
                    <img src="jager.jpg" alt="Jager" style="max-width: 300px; max-height:400px; border: 2px solid black;">
                </div>
            </div>
        </div>

        <div class="main-footer">
            <footer> 
                <p>Thank you for visiting my website.</p>
                <p id="click">You should click this button :)</p>
                <div id="button">
                    <button onclick="document.getElementById('click').innerHTML = 'You clicked the button!'">Button</button>
                </div>
            </footer>
        </div>
    </body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="vue.js"></script>

</html>