body {
    border: 2px solid black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header & Footer Styles */
.main-header, .main-footer {
    text-align: center;
    background-color: lightblue;
    padding: 10px;
}

.main-header {
    border-bottom: 2px solid black;
}

.main-footer {
    border-top: 2px solid black;
}


/* Navigation Styles */
.nav-list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem;
}

.nav-list li {
    border: 2px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}


/* Main & Secondary Content Styles */
.main-content {
    display: flex;
}

.first-section {
    background-color: lightpink;
    padding: 10px;
    flex: 70%;
    border-right: 2px solid black;
}

.applications {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#apps {
    margin-bottom: 0px;
    padding-top: 10px;
}

#slot-apps {
    display: flex;
    flex-direction: column;
    gap: 5%;
}



#app-1, #app-2, #app-3, #app-4, #app-5, #app-6, #app-7, #app-8, #app-9, #app-10, #app-11, #app-12, #slots {
    flex: 50%;
    padding-bottom: 10px;
}

.second-section {
    background-color: lightgreen;
    padding: 10px;
    flex: 30%;
}

.second-section img {
    width: 100%;
 }

 
/* Canvas */
.col1, .col2 {
    display: flex;
    flex-direction: column;
    flex: 50%;
    align-items: center;
    padding: 10px;
}

.col1 {
    background-color: pink;
    border-right: 2px solid black;
}

.col2 {
    background-color: lightgreen;

}

iframe, video, canvas, audio {
    max-width: 100%;
}

/* Media Styles */
@media (min-width: 1201px) {
    body { 
        font-size: 1.2em;
    }

    .nav-list{
        gap: 3rem;
    }
}

@media (max-width: 1200px ) {
    body { 
        font-size: 1.1em;
    }
    .nav-list{
        gap: 2rem;
    }

}

@media (max-width: 740px)  {
    .main-content{
        flex-direction: column;
    }

    .first-section {
        border-bottom: 2px solid black;
        border-right: 0px;
    }

    .applications {
        flex-direction: column;
    }

    .nav-list{
        gap: 1rem;
    }

    .col1 {
        border-right: 0px;
        border-bottom: 2px solid black;
    }
}
